/*------------------------------------*\
    $MYGOV ASSETS GRID
\*------------------------------------*/




// CSS Wizardry grids settings
$gutter: 30px;
$pull: true;
$push: true;

@import "../node_modules/csswizardry-grids/csswizardry-grids.scss";
