@charset "utf-8";

/*------------------------------------*\
    $MYGOV ASSETS
\*------------------------------------*/




/*
 * Grid system setup. MyGov Assets currently uses CSSWizardry Grids but that
 * grid framework is not mandatory.
 */
 $breakpoints: (
    'small' '(min-width: 480px)',
    'medium' '(min-width: 768px)',
    'large' '(min-width: 992px)',
    'xlarge' '(min-width: 1200px)',

    'small-down' '(max-width: 479px)',
    'medium-down' '(max-width: 767px)',
    'large-down' '(max-width: 991px)',
    'small-to-medium' '(min-width: 480px) and (max-width: 767px)',
    'medium-to-large' '(min-width: 768px) and (max-width: 991px)',
    'large-to-xlarge' '(min-width: 992px) and (max-width: 1199px)',
    'xlarge-up' '(min-width: 1200px)',

    'medium-portrait' '(min-width: 768px) and (orientation: portrait) and (max-width : 1024px)',
    'medium-landscape' '(min-width: 768px) and (orientation: landscape)  and (max-width : 1024px)'
) !default;
$breakpoint-has-widths: ('small', 'medium', 'large', 'xlarge') !default;
$breakpoint-has-push:   ('medium', 'large', 'xlarge') !default;
$breakpoint-has-pull:   ('medium', 'large', 'xlarge') !default;

@import "grid";




/*
 * The core mygov styles. These core styles are required for correct display of
 * all of the MyGov Assets components.
 */
@import "core";




/**
 * Form element style definitions. Include these if your project uses forms.
 */
@import "form-elements";




/**
 * COMPONENTS
 */
@import "components/component.article-header";
@import "components/component.breadcrumbs";
@import "components/component.card";
@import "components/component.category-item";
@import "components/component.document-info";
@import "components/component.document-section";
@import "components/component.expand";
@import "components/component.expandable";
@import "components/component.external-links";
@import "components/component.file-icon";
@import "components/component.in-article-form";
@import "components/component.informational-notes";
@import "components/component.listed-content-item";
@import "components/component.page-group";
@import "components/component.page-nav";
@import "components/component.person";
@import "components/component.related-items";
@import "components/component.search-box";
@import "components/component.skip-links";




/**
 * TRUMPS
 * Trumps provide overrides for styles defined in component files where a more
 * specific implementation of a component is desired. They typically extend or
 * augment an existing component.
 */
@import "trumps/trump.header-search";
