/*------------------------------------*\
    $FORMS - DATE ENTRY
    custom styling for date entry inputs
\*------------------------------------*/

.date-entry {
    margin-bottom: 21px;
    position: relative;

    &__input-group {
        position: relative;
    }

    &__input {
        margin-right: 60px;
        width: calc(100% - 60px);
    }

    &__calendar {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        margin-top: 7px;
        max-height: 0;
        overflow: hidden;
        max-width: 345px;
        @include transition(max-height 0.2s);

        &--open {
            max-height: 260px;
            max-width: 345px;
        }
    }
}

button.date-entry__trigger {
  background-image: url("../images/icons/date_picker.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  margin: 0px !important;
  padding: 0;
  position: relative;
  display: inline-block;
  text-indent: -999em;
  width: 50px;
  @include image-2x( '../images/icons/date_picker_@2x.png', 42px, 42px);
  vertical-align: bottom;
  height: 42px;
  width: 42px;
}