.input--other {
	margin-left: 56px;
}

.input--inline, .button--inline-block {
	display: inline-block;
}

.postcode-search {
	text-transform: uppercase;
	display: inline-block;
}

.form-group--inline {
	display: inline-block;
	margin-right: 20px;
}

.form-group--add {
	padding-top: 20px;
}

.button--keep, .button--edit, .button--remove {
	display: inline-block;
	width: initial;
	margin-bottom: 10px;
	border: 1px solid #333;
}

.button--keep:hover, .button--keep.button--active {
	background-color: #4e9d52;
	color: #fff;
}

.button--edit:hover, .button--edit.button--active {
	background-color: #ffb644;
	color: #333;
}

.button--remove:hover, .button--remove.button--active {
	background-color:  #d32205;
	color: #fff;
}

textarea.success {
	border: 4px solid #4e9d52;
}

textarea.remove {
	border: 4px solid #d32205;
	color: #b3b3b3;
	text-decoration: line-through #727272;
}

#tenant-responsibilities textarea {
	border-width: 4px;
}

input.currency {
	padding-left: 30px;
}

span.pound-span {

	&:before {
	    content: '£';
	    float: left;
	    font-size: 24px;
	    font-weight: bold;
	    left: 10px;
	    line-height: 56px;
	    position: relative;
	    width: 0px;
	}
}

.multi-page-form .form-box {
	margin-top: 0px;
	margin-bottom: 0px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    padding: 6px 9px;
}

input[type="number"] {
    -moz-appearance: textfield;
}
