/*------------------------------------*\
    $BASE SPACING
\*------------------------------------*/

/**
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
$base-spacing-unit: 19px;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $base-spacing-unit / 4;
$line-height-ratio: $base-line-height / $base-font-size;
