/*------------------------------------*\
    $SMALL
\*------------------------------------*/

small,
.small {
    font-size: 12px;
    line-height: 21px;
}

@include media-query(medium) {
    small,
    .small {
        font-size: 14px;
    }
}
