/*------------------------------------*\
    #LEADER TEXT
    Oversized text for leader paragraphs or sections
\*------------------------------------*/

%leader-text {
  color: $color__grey--dark;
  font-size: $base-leader-size;
  line-height: 28px;
  font-weight: 300;
  margin: 0 0 28px 0;
}

.leader {
  @extend %leader-text;

  &--first-para {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: inherit;

    > :first-child {
      @extend %leader-text;
    }

    h2:first-child {
      font-size: $base-h2-size;
      line-height: 28px;
      margin: 49px 0 14px 0;
      font-weight: 500;
    }
  }
}

@include media-query(medium) {
  %medium-leader-text {
    font-size: $medium-leader-size;
    line-height: 35px;
    font-weight: 300;
    margin: 0 0 35px 0;
  }

  .leader {
    @extend %medium-leader-text;
    font-size: $medium-leader-size;
    line-height: 35px;
    font-weight: 300;
    margin: 0 0 35px 0;

    &--first-para {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin: inherit;

      > :first-child {
        @extend %medium-leader-text;
      }

      h2:first-child {
        font-size: $medium-h2-size;
        line-height: 35px;
        margin: 56px 0 14px 0;
        font-weight: $semibold;
      }
    }
  }
}
