/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1, h2, h3 {
  font-weight: $bold;
  text-rendering: optimizeLegibility;
}

h1, .alpha {
  @include adjust-font-size-to($base-h1-size, 5);
  margin: 28px 0 25px;

  @include media-query(medium) {
    @include adjust-font-size-to($medium-h1-size, 8);
  }
}

h2, .beta {
  @include adjust-font-size-to($base-h2-size, 4);
  margin: 30px 0 5px;

  @include media-query(medium) {
    @include adjust-font-size-to($medium-h2-size, 5);
    margin: (rhythm(3, $medium-h2-size) + 1) 0 (rhythm(2, $medium-h2-size) - 1);
  }
}

h3, .gamma {
  @include adjust-font-size-to($base-h3-size, 3);
  margin: 0 0 rhythm(1, $base-h3-size);

  @include media-query(medium) {
    @include adjust-font-size-to($medium-h3-size, 4);
    padding-top: 0;
    margin-bottom: 7px;
  }
}

h4, .delta {
  @include adjust-font-size-to($base-h4-size, 4);
  font-weight: $bold;
  margin: 0;


  @include media-query(medium) {
    @include adjust-font-size-to($medium-h4-size, 4);
  }
}

h5, .epsilon {
  font-weight: $semibold;
  @include adjust-font-size-to($base-h5-size, 4);
  margin: 0;

  @include media-query(medium) {
    @include adjust-font-size-to($medium-h5-size, 4);
  }
}

/* heading modifiers */

h1, .alpha {
    small {
      color: $color__body;
    }
}
