/*------------------------------------*\
    $HEADER EMPHASIS
\*------------------------------------*/

.emphasis {
  display: inline-block;
  font-weight: 500;
  padding-top: 21px;
  position: relative;

  &:before {
    background: $color__blue--base;
    border-radius: 8px;
    content: '';
    height: 8px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  form & {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 70px;

    @include media-query(medium) {
      font-size: 26px;
    }

    &:first-child {
      margin-top: 0px;
    }
  }
}

h3.emphasis,
.gamma.emphasis {
  padding-top: 14px;
  text-transform: uppercase;
}

@include media-query(medium) {
  h3.emphasis,
  .gamma.emphasis {
    font-size: 19px;
    margin: 0 0 14px 0;
  }
}

.emphasis--light {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 14px;
  margin-bottom: 35px;
  padding-top: 7px;

  &:before {
    background: $color__blue--base;
    border-radius: 4px;
    content: '';
    height: 4px;
    position: absolute;
    right: auto;
    top: -13px;
    width: 65px;
  }

  @include media-query(medium) {
    font-size: 35px;
    line-height: 42px;
  }
}
