/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1, h2, h3,
.alpha, .beta, .gamma {
  font-weight: $bold;
  text-rendering: optimizeLegibility;
}

h1, .alpha {
  font-size: $base-h1-size;
  line-height: 35px;
  margin: 28px 0 25px;

  @include media-query(medium) {
    font-size: $medium-h1-size;
    line-height: 56px;
  }
}

h2, .beta {
  font-size: $base-h2-size;
  line-height: 28px;
  margin: 30px 0 5px;

  @include media-query(medium) {
    font-size: $medium-h2-size;
    line-height: 35px;
    margin: (21px + 1) 0 (14px - 1);
  }
}

h3, .gamma {
  font-size: $base-h3-size;
  line-height: 21px;
  margin: 0 0 7px;

  @include media-query(medium) {
    font-size: $medium-h3-size;
    line-height: 28px;
    padding-top: 0;
    margin-bottom: 7px;
  }
}

h4, .delta {
  font-size: $base-h4-size;
  line-height: 28px;
  font-weight: $bold;
  margin: 0;


  @include media-query(medium) {
    font-size: $medium-h4-size;
    line-height: 28px;
  }
}

h5, .epsilon {
  font-weight: $semibold;
  font-size: $base-h5-size;
  line-height: 28px;
  margin: 0;

  @include media-query(medium) {
    font-size: $medium-h5-size;
    line-height: 28px;
  }
}

/* heading modifiers */

h1, .alpha {
    small {
      color: $color__body;
    }
}
