/*------------------------------------*\
    $BODY
\*------------------------------------*/

body {
  @extend %font__body;
  font-size: $base-font-size;
  line-height: 21px;
  background: $color__white;
  color: $color__body;
  font-weight: $normal;
  margin: 0;

  @include media-query(medium) {
    font-size: $medium-font-size;
    line-height: 28px;
  }

  @include media-query(large) {
    font-size: $large-font-size;
    line-height: 28px;
  }
}
