/*------------------------------------*\
    #PAGE NAVIGATION
    previous and next buttons
\*------------------------------------*/

$page-nav__icon-size: 56px !default;
$page-nav__direction-link__icon-path: '../images/icons/arrows/' !default;
$page-nav__prefix-color: $color__blue--darker !default;




.page-nav {
  margin-top: 56px;
  margin-bottom: 49px;
}




.page-nav__button {
    background: transparent;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    margin: 14px 0;
    min-height: 91px;
    outline: none !important;
    padding: 14px 5px;
    position: relative;
    text-decoration: none;
    width: 100%;
    @include transition(background $transition-out-time);

    &:not([href]) {
      display: none;
    }

    &--right {
        text-align: right;
    }

    // Shared styles for left and right variations
    // :before is the circle
    &--left:before,
    &--right:before {
      content: '';
      height: $page-nav__icon-size;
      width: $page-nav__icon-size;
      background-color: $color__button--primary;
      background-position: center;
      border-radius: $page-nav__icon-size;
      display: inline-block;
      position: absolute;
      top: 12px;

      @include transition(background 1s);
    }

    // :after is the chevron
    &--left:after,
    &--right:after {
        content: '';
        height: $page-nav__icon-size;
        width: $page-nav__icon-size;
        position: absolute;
        top: 12px;
    }

    // Left button variation
    // BEGIN: page-nav__button--left
    &--left {
      padding-left: ($page-nav__icon-size + 5px + 12px);
      text-align: left;

      &:before,
      &:after {
          left: 5px;
      }

      &:after {
        $link-icon: get-link-icon($page-nav__direction-link__icon-path, 'int_arrow_left', $page-nav__icon-size);

        background-image: url($link-icon);
        @include image-2x(get2xImage($link-icon), $page-nav__icon-size, $page-nav__icon-size);
      }
    }
    // END: page-nav__button--left

    // Right button variation
    // BEGIN: page-nav__button--right
    &--right {
      float: right;
      padding-right: ($page-nav__icon-size + 5px + 12px);
      text-align: right;

      &:before,
      &:after {
        right: 5px;
      }

      &:after {
          $link-icon: get-link-icon($page-nav__direction-link__icon-path, 'int_arrow_right', $page-nav__icon-size);

          background-image: url($link-icon);
          @include image-2x(get2xImage($link-icon), $page-nav__icon-size, $page-nav__icon-size);
      }
    }
    // END: page-nav__button--right
}

.page-nav__button:hover {
    background-color: $color__grey--lighter;
    @include transition-duration(0.2s);

    .page-nav__text {
        text-decoration: underline;
    }

    &:before {
        background-color: $color__blue--dark;
    }
}

.page-nav__button:active {
    background-color: $color__blue--light;

    &:before {
        background-color: $color__blue--dark;
    }

    &:after {
        opacity: 0.65;
    }
}

.page-nav__text {
    display: inline-block;
    padding-top: 21px;
    position: relative;

    &:before {
        color: $page-nav__prefix-color;
        content: attr(data-label);
        font-size: 14px;
        font-weight: $bold;
        left: 0;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;
    }
}

@include media-query(medium) {
    .page-nav {
        margin-bottom: 56px;
    }
}
