/*------------------------------------*\
    $EXPANDABLE
    Used for accordion-like panels
\*------------------------------------*/

$expandable__background-color: transparent !default;
$expandable__body-color: $color__body !default;
$expandable__body-background-color-open: transparent !default;
$expandable__border-color: $color__grey--pale !default;
$expandable__header-color-hover: $color__link--hover !default;
$expandable__header-color-open: $expandable__body-color !default;
$expandable__header_background-color: $expandable__background-color !default;
$expandable__header-background-color-focus: $color__grey--lighter !default;
$expandable__header-background-color-active: $color__blue--light !default;
$expandable__header-background-color-hover: $color__grey--lighter !default;
$expandable__header-background-color-open: $color__blue--lighter !default;
$expandable__icon-color: transparent !default;
$expandable__icon-color-hover: transparent !default;
$expandable__icon-color-open: transparent !default;
$expandable__icon-color-open-hover: $expandable__icon-color-open !default;
$expandable__icon-image: '../images/icons/arrows/int_arrow_down_blue_35px.png' !default;
$expandable__icon-image-hover: $expandable__icon-image !default;
$expandable__icon-image-open: '../images/icons/arrows/int_arrow_up_blue_35px.png' !default;
$expandable__icon-image-open-hover: $expandable__icon-image-open !default;
$expandable__icon-trigger: '../images/icons/arrows/down_arrow_18px.png' !default;
$expandable__icon-trigger-open: '../images/icons/arrows/up_arrow_18px.png' !default;
$expandable__title-size: inherit !default;




.expandable {

    h2 {
        margin-bottom: 20px;
        line-height: 28px;
    }
}

.expandable-item {
    background-color: $expandable__background-color;
    border: 1px solid $expandable__border-color;
    border-width: 1px 0;
    margin: 0 -15px;

    & + .expandable-item {
        margin-top: -1px;
    }

    & + h2 {
        margin-top: 47px;
    }

    &--init-open .expandable-item__body {
        display: block;
    }

    &__header {
        background-color: $expandable__header_background-color;
        border: 0;
        cursor: pointer;
        display: table;
        height: 55px;
        min-height: 55px;
        outline: none !important;
        padding: 0 15px;
        position: relative;
        text-decoration: none;
        @include transition(background 0.2s);
        width: 100%;

        &:hover {
            background-color: $expandable__header-background-color-hover;
            color: $expandable__header-color-hover;
            text-decoration: none;

            .expandable-item__icon {
                background-color: $expandable__icon-color-hover;
                @include transition(background 0.2s);
            }
        }

        &:focus {
            background-color: $expandable__header-background-color-focus;
        }

        &:active {
            background-color: $expandable__header-background-color-active !important;
        }
    }

    &__title {
        color: inherit;
        display: table-cell;
        font-size: $expandable__title-size;
        line-height: 21px;
        padding: 6px 42px 7px 0;
        text-align: left;
        vertical-align: middle;
        width: 100%;

        &--right {
            display: block;
            margin-bottom: 0;
            padding: 6px 0 7px 42px;
            text-align: right;
        }
    }

    &__icon {
        background: url($expandable__icon-image) no-repeat center $expandable__icon-color;
        border-radius: 100%;
        height: 35px;
        margin-top: -18px;
        position: absolute;
        right: 15px;
        top: 50%;
        width: 35px;
        @include image-2x(get2xImage($expandable__icon-image), 35px, 35px);
        @include transition(background 1s);
    }

    &__body {
        background-color: $expandable__body-background-color-open;
        display: none;
        overflow: hidden;
        padding: 21px 15px 27px;
        position: relative;

        p.headerforlink {
            margin: 28px 0 7px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__link-trigger {
        &:after {
            background: url($expandable__icon-trigger) no-repeat center center $color__link--primary;
            @include image-2x(get2xImage($expandable__icon-trigger), 18px, 18px);
            background-size: contain;
            border-radius: 18px;
            content: '';
            display: inline-block;
            height: 18px;
            margin: -4px 0 0 0.5em;
            position: relative;
            top: 4px;
            width: 18px;
        }
    }

    // expandable open styles
    &--open {
        .expandable-item {
            &__header {
                background-color: $expandable__header-background-color-open;
                color: $expandable__header-color-open;

                .expandable-item__icon {
                    background: url($expandable__icon-image-open) no-repeat center $expandable__icon-color-open;
                    @include image-2x(get2xImage($expandable__icon-image-open), 35px, 35px);

                    &:hover {
                        background: url($expandable__icon-image-open-hover) no-repeat center $expandable__icon-color-open-hover;
                        @include image-2x(get2xImage($expandable__icon-image-open-hover), 35px, 35px);
                    }
                }
            }
        }

        .expandable-item__link-trigger:after {
            background-image: url($expandable__icon-trigger-open);
            @include image-2x(get2xImage($expandable__icon-trigger-open), 18px, 18px);
        }
    }

    // no bottom shadow on last expandable item
    &:last-child {
        .expandable-item__body:after {
            content: none;
        }
    }
}

/*
For disclaimers in forms
*/
.expandable-item--disclaimer {
    border: 0;
    margin: 0;

    .expandable-item__body {
        background: $expandable__background-color;
        font-size: 14px;
        margin-bottom: 28px;
        padding: 28px 25px;

        h2 {
            margin-top: 2px;
        }
    }
}
@include media-query(medium) {
    .expandable-item--disclaimer .expandable-item__body {
        font-size: 16px;
        line-height: 21px;
    }

    .expandable-item {
        margin-left: 0;
        margin-right: 0;

        &__body {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
