/*------------------------------------*\
    $ARTICLE HEADER
    title block for articles
\*------------------------------------*/

.article-header {
  margin: 12px 0 35px;

  &__prefix {
    line-height: 21px;
    margin: 0;
    text-transform: uppercase;
  }

  &__prefix + &__title {
    margin-top: 0;
  }
}

.article-header__flex-area {
  display: flex;
  align-items: center;
}

.article-header__flex-area-content {
  display: table-cell; /* fallback for browsers with no support for flex */

  &.org-logo {
    text-align: right;
  }

  &.org-logo img {
    display: inline-block;
    max-height: 77px;
    padding-left: 25%;
  }
}

@include media-query(medium) {
  .article-header {
    margin-top: 26px;

    &.has-icon {
      position: relative;

      .article-header__prefix,
      .article-header__title,
      .article-header__meta {
        padding-left: 80px;
      }

      &:before {
        content: '';
        height: 94px;
        left: 0;
        position: absolute;
        top: 3px;
        width: 68px;
      }
    }
  }
}
