/*------------------------------------*\
    $CARD
\*------------------------------------*/

$card__hover-bottom-color: $color__blue--base !default;
$card__focus-color: $color__blue--light !default;
$card__background-color: $color__white !default;

.card {
    background-color: $card__background-color;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    margin: 5px -10px;
    position: relative;
    transition: box-shadow $transition-in-time;

    &--hover {

        &:active,
        &:focus {
            background: $card__focus-color;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);

            a {
                color: $color__link--focus;
            }
        }

        /* bottom border on card hover */
        &:after {
            background: $card__hover-bottom-color;
            bottom: 0;
            content: '';
            height: 0;
            left: 0;
            position: absolute;
            right: 0;

            transition: height $transition-in-time;
        }

        &:hover:after {
            height: 5px;
        }

        &:hover {
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

            /* remove underline from link contents */
            a * {
                text-decoration: none !important;
            }
        }

    }
}

.card__content {
    height: 100%;
    padding: 20px 15px 30px;

    &:focus {
        background: $card__focus-color;
        outline: none;
    }
}

@include media-query(medium) {

    .card--small {
        height: 186px;
    }

}
