/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

$button__size: 56px !default;
$button__size--large: 70px !default;
$button__size--medium: 42px !default;
$button__size--small: 28px !default;
$button__font-size: 17px !default;
$button__external--icon: '../images/icons/arrows/ext_arrow_text_17px_white.png' !default;
$button__close--icon: '../images/icons/close-grey.png' !default;
$button__text-color: $color__white !default;
$button__padding: 7px 40px !default;
$button__margin--large: 44px 0 49px !default;




.button {
  align-items: flex-start;
  background: $color__grey--base;
  border: 0;
  color: $button__text-color;
  cursor: pointer;
  display: table;
  font-size: $button__font-size;
  font-weight: bold;
  height: $button__size--large;
  line-height: 21px;
  padding: $button__padding;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100%;

  @include transition(background $transition-out-time);

  &:hover {
    text-decoration: none;
    color: $button__text-color;
    @include transition-duration($transition-in-time);
  }

  &:focus {
    @include transition-duration($transition-in-time);
    color: $button__text-color;

    .icon {
      opacity: 0.65;
    }
  }

  &--primary {
    background-color: $color__link--primary;

    &:hover {
      background-color: $color__button--primary--hover
    }

    &:focus  {
      background-color: $color__button--primary--focus;
    }

    &:active {
      background-color: $color__button--primary--active;
      color: $color__button--primary--active-text;
      outline: none !important;
    }
  }

  // color variant
  &--secondary {
    background-color: $color__blue--dark;
    font-size: 15px;
    height: $button__size;
    line-height: 18px;
    min-width: 90px;
    width: auto !important;

    &:hover,
    &:focus {
      background: $color__button--secondary--hover;
    }
  }

  // color variant
  &--dark {
    background-color: $color__button--secondary;
  }

  // color variant
  &--clear {
    background-color: transparent;
    color: $color__link--primary;

    @include transition(color $transition-out-time);

    &:hover {
      color: $color__link--hover;
    }
  }

  // color variant
  &--success,
  &--positive {
      background-color: $color__button__success;

      &:hover {
          background-color: $color__button__success--hover;
      }
  }

  // color variant
  &--error,
  &--negative {
      background-color: $color__button__error;

      &:hover {
          background-color: $color__button__error--hover;
      }
  }

  // color variant
  &--invert {
    background-color: $color__white;
    color: $color__blue--base;

    @include transition(color $transition-out-time);

    &:hover {
      color: $color__link--hover;
    }
  }

  // color variant
  &--cancel {
    background: $color__white;
    border: 1px solid $color__grey--base;
    color: $color__body !important;

    &.light-text {
      color: $color__grey--base;
    }

    &:hover,
    &:focus {
      background-color: $color__grey--lighter;
      border-color: $color__grey--dark;
    }

    &:active {
      background-color: $color__grey--light;
      color: rgba($color__grey--dark, 0.65);
    }
  }

  // type variant
  &--ghost {
    background-color: transparent;
    border: 1px solid $color__grey--dark;
    color: $color__grey--dark;
    font-size: 14px;
    padding: 6px 15px;

    &:hover {
      background-color: $color__grey--lighter;
      color: $color__grey--dark;
    }

    &:focus {
      background-color: $color__grey--light;
      outline: none !important;
    }
  }

  // type variant
  &--external {
    &:after {
      background: url($button__external--icon);
      content: '';
      height: 17px;
      position: absolute;
      right: 6px;
      top: 6px;
      width: 17px;

      @include transition(opacity $transition-out-time);

      @include image-2x(get2xImage($button__external--icon), 17px, 17px);
    }
  }

  // color variant
  &--ghost-primary {
    border-color: $color__link--primary;
    color: $color__link--primary;

    &:hover {
      background-color: $color__grey--lighter;
      border-color: $color__link--hover;
      color: $color__link--hover;
    }

    &:focus {
      background-color: $color__blue--light;
    }
  }

  // color variant
  &--ghost-invert {
    border-color: $color__white;
    color: $color__white;
  }

  // size variant
  &--large {
    height: $button__size--large;
  }

  // size variant
  &--medium {
    height: $button__size--medium;
  }

  // size variant
  &--small {
    font-size: 14px;
    height: $button__size--small;
    padding: 0 1em;
  }

  // size variant
  &--xsmall {
    font-size: 12px;
    height: $button__size--small;
    margin: 0;
    padding: 0 0.5em;

    @include media-query(medium) {
        font-size: 13px;
    }
  }

  // display in a textlike (no padding)
  &--text {
    background: transparent;
    color: $color__grey--text;
    padding: 0;
  }

  &--close {
    height: 27px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    width: 27px;
    background-image: url($button__close--icon);
    @include image-2x(get2xImage($button__close--icon), 27px, 27px);
  }

  // display variant
  &--pill {
    border-radius: 100px;
    display: inline-block;
    height: auto;
    line-height: 21px;
    padding: 7px 24px 7px 10px;
    text-transform: none;
    width: auto;

    @extend %small-arrow-right !optional;
    @extend %small-arrow-right--white !optional;
    & + & {
      margin-left: 10px;
    }

    @include media-query(medium) {
      padding-left: 12px;
      padding-right: 22px;
    }
  }

  &--no-margin {
      margin: 0 !important;
  }

  /**
   * Button icon placement
   */
  .button__icon--right {
    margin-top: -10px;
    position: absolute;
    right: 1em;
    top: 50%;
  }

  .link-text {
    display: table-cell;
    vertical-align: middle;
  }
}

.body-content .button {
  margin: $button__margin--large;
}

// sidebar button sizes
#sidebar button,
#sidebar a.button {
  width: 100%;
}
