/*------------------------------------*\
    $RULES
\*------------------------------------*/

$hard-rule__border-color: $color__border--light !default;




hr {
  border: 0;
  border-bottom: 1px solid $hard-rule__border-color;
}
