/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/




$button__padding-x: 15px !default;
$button__padding-x--large: 40px !default;
$button__padding-y: 17px !default;
$button__secondary-border-width: 2px !default;
$button__secondary-border-width--active: 3px !default;
$external-link__excluded-sites: () !default;




@function add-excluded-urls() {
    $output: '';

    @each $excluded-site in $external-link__excluded-sites {
        $output: $output + ':not([href*="' + $excluded-site + '"])';
    }

    @return $output;
}




button {
    border: 0;
    background: transparent;

    &:focus {
        background-color: $color__blue--lighter;
    }
}




.button {
    background-color: $color__blue--base;
    border: 0;
    border-radius: 0;
    color: $color__white;
    display: inline-block;
    font-size: $base-font-size + 1px;
    font-weight: 700;
    line-height: 21px;
    margin: 35px 0;
    min-height: 56px;
    outline: 0;
    padding: $button__padding-y $button__padding-x;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: top;

    @include transition(outline-color 1s, background-color 1s, color 1s);

    &:focus {
        color: $color__white;
        background-color: $color__blue--dark;
    }

    &:hover {
        @include transition-duration(0.2s);
        color: $color__white;
    }

    &:active {
        color: rgba(red($color__white), green($color__white), blue($color__white), 0.65);
        outline: 0;

        @include transition-duration(0s);
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.25;
        pointer-events: none;
    }
}

.button--primary {
    background-color: $color__blue--base;
    width: 290px;

    &:hover {
        background-color: $color__blue--dark;
    }

    &:active {
        background-color: $color__blue--dark;
    }
}

.button--secondary {
    background-color: $color__white;
    border: $button__secondary-border-width solid $color__blue--base;
    color: $color__blue--base;
    padding: ($button__padding-y - $button__secondary-border-width) ($button__padding-x - $button__secondary-border-width);

    &:hover,
    &:active {
        border-color: $color__blue--dark;
        border-width: $button__secondary-border-width--active;
        color: $color__blue--dark !important;
        padding: ($button__padding-y - $button__secondary-border-width--active) ($button__padding-x - $button__secondary-border-width--active);
    }

    &:focus {
        color: $color__blue--base;
        background-color: $color__blue--lighter;
    }

    &:hover {
        background-color: $color__grey--lighter;
    }

    &:active {
        background-color: $color__blue--light;
    }
}

// "cancel" is essentially a secondary colorway
.button--cancel {
    @extend .button--secondary;
    border-color: $color__body;
    color: $color__body;

    &:focus {
        color: $color__body;
        background-color: $color__blue--lighter;
    }

    &:hover {
        background-color: $color__white;
        color: $color__blue--dark;
    }

    &:active {
        background-color: $color__blue--light;
    }
}

.button--tertiary {
    background: transparent;
    border-bottom: 1px solid $color__blue--light;
    color: $color__blue--base;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    min-height: 35px;
    padding: 7px 5px;
    text-transform: none;

    &:hover {
        background-color: $color__grey--lighter;
        border-color: $color__blue--dark;
        color: $color__blue--dark;
    }

    &:active {
        background-color: $color__blue--light;
        color: $color__blue--dark;
        border-color: $color__blue--dark;
    }

    &:focus {
        background-color: $color__blue--lighter;
        color: currentColor;
    }
}




// sizes
.button--large {
    // this is the default

}

.button--medium {
    $button__padding-x: 15px;
    $button__padding-y: 10px;

    min-height: 42px;
    padding: $button__padding-y $button__padding-x;
    width: 175px;
}

.button--small {
    font-size: 15px;
    line-height: 21px;
    max-width: 174px;
    min-width: 56px;
    padding: $button__padding-y $button__padding-x;
    width: auto;
}

// not specced in link/button language but added for guide mobile nav
// todo: keep this in a "mygov-buttons" scss file
.button--xsmall {
    font-size: 13px;
    margin: 7px 0;
    min-height: 28px;
    padding: 4px 15px 3px;
    width: auto;
}

.button--secondary,
.button--cancel {
    &.button--medium {
        padding: (10px - $button__secondary-border-width) (15px - $button__secondary-border-width);

        &:hover,
        &:active {
            padding: (10px - $button__secondary-border-width--active) (15px - $button__secondary-border-width--active);
        }
    }

    &.button--small {
        padding: (10px - $button__secondary-border-width) (15px - $button__secondary-border-width);

        &:hover,
        &:active {
            padding: (10px - $button__secondary-border-width--active) (15px - $button__secondary-border-width--active);
        }
    }

    &.button--xsmall {
        padding: (4px - $button__secondary-border-width) (15px - $button__secondary-border-width) (3px - $button__secondary-border-width);

        &:hover,
        &:active {
            padding: (4px - $button__secondary-border-width--active) (15px - $button__secondary-border-width--active) (3px - $button__secondary-border-width--active);
        }
    }
}




// widths
.button--primary--small-variable {
    $button__padding-x: 15px;
    $button__padding-y: 14px;

    padding: $button__padding-y $button__padding-x;
    width: auto;
}

.button--primary--fluid,
.button--primary--fluid-persistent {
    min-width: 140px;
    width: calc(48% - 5px);
}

@include media-query(medium) {
    .button--primary--fluid {
        max-width: 220px;
        width: auto;
    }

    .button--primary--fluid-persistent {
        max-width: 379px;
        width: auto;
    }
}

.button--secondary--medium-fixed {
    width: 140px;
}

@include media-query(medium) {
    .button--secondary--large-fixed {
        width: 290px;
    }
}




// external link buttons
.button[href^="//"]#{add-excluded-urls()},
.button[href^="http://"]#{add-excluded-urls()},
.button[href^="https://"]#{add-excluded-urls()} {
    position: relative;
}

.button--secondary[href^="//"]#{add-excluded-urls()},
.button--secondary[href^="http://"]#{add-excluded-urls()},
.button--secondary[href^="https://"]#{add-excluded-urls()} {
    &:after {
        background-image: url(../images/icons/svg/external-17-blue.svg);
    }

    &:hover:after {
        background-image: url(../images/icons/svg/external-17-dkblue.svg);
    }
}

.button--cancel[href^="//"]#{add-excluded-urls()},
.button--cancel[href^="http://"]#{add-excluded-urls()},
.button--cancel[href^="https://"]#{add-excluded-urls()} {
    &:after {
        background-image: url(../images/icons/svg/external-17.svg);
    }
}




// miscellaneous modifiers
.button--margin-right {
    margin-right: 10px;
}

.button--no-margin {
    margin: 0;
}




// close cross
.close-button {
    background: transparent url(../images/icons/close-grey.png) center no-repeat;
    @include image-2x(get2xImage('../images/icons/close-grey.png'), 27px, 27px);
    border: 0;
    display: inline-block;
    height: 27px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    width: 27px;
}




// icons -- could be pulled out to a separate SCSS file
$icon__height: 21px;
$icon__height--medium: 17px;
.mg-icon {
    background: no-repeat url() center;
    background-size: contain;
    height: $icon__height;
    width: $icon__height;
}

.mg-icon--inline {
    float: left;
    margin-right: 10px;
}

.mg-icon--medium {
    height: $icon__height--medium;
    width: $icon__height--medium;
}

.mg-icon--absolute {
    margin-top: round(-$icon__height/2);
    position: absolute;
    top: 50%;
}

.mg-icon--absolute.mg-icon--medium {
    margin-top: round(-$icon__height--medium/2)
}

.mg-icon--left {
    left: 7px;
}

.mg-icon--right {
    right: 7px;
}

.button--secondary,
.button--cancel {
    .mg-icon--left {
        left: 7px - $button__secondary-border-width;
    }

    .mg-icon--right {
        right: 7px - $button__secondary-border-width;
    }

    &:hover,
    &:active {
        .mg-icon--left {
            left: 7px - $button__secondary-border-width--active;
        }

        .mg-icon--right {
            right: 7px - $button__secondary-border-width--active;
        }
    }
}

.mg-icon--chevron-left {
    background-image: url(../images/icons/svg/chevron-left-grey.svg);
}

.mg-icon--chevron-right {
    background-image: url(../images/icons/svg/chevron-right-grey.svg);
}

.button--primary .mg-icon--chevron-left {
    background-image: url(../images/icons/svg/chevron-left-white.svg);
}

.button--primary:active .mg-icon--chevron-left,
.button--primary:active .mg-icon--chevron-right {
    opacity: 0.65;
}

.button--primary .mg-icon--chevron-right {
    background-image: url(../images/icons/svg/chevron-right-white.svg);
}

.button--secondary .mg-icon--chevron-left {
    background-image: url(../images/icons/svg/chevron-left-dkblue.svg);
}

.button--secondary .mg-icon--chevron-right {
    background-image: url(../images/icons/svg/chevron-right-dkblue.svg);
}

.button--cancel .mg-icon--chevron-left {
    background-image: url(../images/icons/svg/chevron-left-grey.svg);
}

.button--cancel:hover .mg-icon--chevron-left {
    background-image: url(../images/icons/svg/chevron-left-dkblue.svg);
}

.button--cancel .mg-icon--chevron-right {
    background-image: url(../images/icons/svg/chevron-right-grey.svg);
}

.button--cancel:hover .mg-icon--chevron-right {
    background-image: url(../images/icons/svg/chevron-right-dkblue.svg);
}
