/*------------------------------------*\
    $FORM ERRORS
\*------------------------------------*/

.form-error {
  .error-text {
    color: $color__error;
  }

  input[type=text],
  input[type=password],
  select,
  textarea {
    border: 1px solid $color__error;
  }
}

.error-block {
  color: $color__error;
  margin: 14px 0;

  h2 {
    margin-bottom: 8px;
  }
}

.js-has-error {
    label {
        color: $color__error;
    }

    input[type=text],
    select,
    textarea {
        border: 1px solid $color__error;
    }
}

.current-errors,
.server-side-errors,
.field-errors {
  font-size: 16px;
  line-height: 21px;
  color: $color__red--base;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 0 !important;
}

.form-errors {
  margin-bottom: 21px;
}

.current-errors li,
.server-side-errors li {
  padding-top: 0px;
  list-style-type: none;
}

.field-errors {
  margin-left: 12px;
}

.server-side-errors.server-side-neutral {
  color: #727272;
}

.error-grey,
.error-grey a {
  color: #727272 !important;
}

.error a {
  font-weight: bold;
  text-decoration: none;
}

.error a .underline {
  font-weight: normal;
  text-decoration: underline;
}

/* Input field errors */

.input-error {
  border: 2px solid $color__red--base !important;
}

.input-error__item,
.input-error__link {
    color: $color__red--base;
}

.input-error:focus {
  background-color: $color__blue--lighter;
}

/* Fieldset errors */

fieldset.input-error {
  border: 0px !important;
}

fieldset .input-wrapper.input-error {
  display: inline-block;
  background-color: #f4e2df;
  border: 1px dashed $color__red--base !important;
  border-radius: 6px;
  padding: 0 15px 14px;
}
