/*------------------------------------*\
    #BLEED
\*------------------------------------*/
/**
 * Bleeds allow one-whole grid items to extend to the screen edges.
 * Use with .grid__item or whichever containing element you wish to enlarge.
 */

@include media-query(small-down) {
  .bleed--xsmall {
    padding-left: 0;
    position: relative;
    right: -15px;
  }
}
